@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif; 
    color: #000000;
  }
:root{
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}
.about{
    background-color: #1f242d;
    margin: 10%;

}
.about h1{
    color: var(--main-color);
}
h1{
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
p{
    margin: 0 10%;
    font-size: 1.5rem;
    font-weight: 600;
}
li{
    margin: 10px 0;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
}
@media only screen and (max-width: 768px){
    
}