@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif; 
    color: #fff;
  }
:root{
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}
.home{
    background-color: #1f242d;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 70px 10% 0 ; 
    height: 100vh;
}

.home-content{
    width: 50%;   
}
.home-left{
    width: 50%;
}
.home-img img{
    width: 100%;
}
.home-img{
    width: 100%;
}
.first-line{
    font-size: 2.5rem;
    font-weight: 600;
}
.second-line{
    font-size: 3.5rem;
    font-weight: 900;
}
.typewriter{
    font-size: 2.5rem;
    font-weight: 600;
    color: #0ef;
}
.third-line{
    font-size: 1.5rem;
    font-weight: 600;
}
.project-btn{
    display: inline-block;
    padding: .5rem 2rem;
    background: var(--main-color);
    color: var(--text-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    letter-spacing: .1rem;
    font-weight: 600;
    position: relative;
    left: 27rem;
    top: 8rem;    
}
.project-btn :hover{
    
}
@media only screen and (max-width: 1800px){
project-btn {
    display: inline-block;
    padding: 0.5rem 2rem;
    background: var(--main-color);
    color: var(--text-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    letter-spacing: .1rem;
    font-weight: 600;
    position: relative;
    left: 40rem;
    top: 17rem;
}
}

/* 110px */
@media only screen and (max-width: 1100px){
    .project-btn{
        font-size: 1.6rem;
        letter-spacing: .1rem;
        font-weight: 600;
        position: relative;
        left: 22rem;
        top: 8rem; 
    }
    /* .home{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 70px 10% 0 ; 
        height: 80vh;  
    } */
    .home{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    }
}

/* 1000px */
@media only screen and (max-width: 1000px){
    .project-btn{
        font-size: 1.4rem;
        letter-spacing: .1rem;
        font-weight: 500;
        position: relative;
        left: 20rem;
        top: 8rem;    
    }
    .home{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 70px 10% 0 ; 
        height: 100vh;  
    }
}
/* 900 */
@media only screen and (max-width: 900px){
    .project-btn{
        font-size: 1.4rem;
        letter-spacing: .1rem;
        font-weight: 500;
        position: relative;
        left: 18rem;
        top: 8rem;    
    }
    .home{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 70px 10% 0 ; 
        height: 100vh;  
    }
}
/* 800px */
@media only screen and (max-width: 800px){
    .project-btn{
        font-size: 1.4rem;
        letter-spacing: .1rem;
        font-weight: 500;
        position: relative;
        left: 16rem;
        top: 6rem;    
    }
    .home{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 10% 0 ; 
        height: 100vh;  
    }
}
/* 700px */
@media screen and (max-width: 700px) {
    .project-btn{
        font-size: 1.4rem;
        letter-spacing: .1rem;
        font-weight: 500;
        position: relative;
        left: 1rem;    
    }
    .home {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 20% 10% 0;
        height: 100vh;
    }
    .home-left{
        width: 65%;
    }
    
}
/* 600 */
@media screen and (max-width: 600px) {
    .project-btn{
        font-size: 1.4rem;
        letter-spacing: .1rem;
        font-weight: 500;
        position: relative;
        left: 1rem;
        top: 4rem;    
    }
    
}
/* 500px */
@media screen and (max-width: 500px) {
    .project-btn{
        font-size: 1.4rem;
        letter-spacing: .1rem;
        font-weight: 500;
        position: relative;
        left: 1rem;
        top: 6rem;    
    }
    .first-line{
        font-size: 1.5rem;
        font-weight: 100;
    }
    .second-line{
        font-size: 3.5rem;
        font-weight: 900;
    }
    span{
        font-size: 2.5rem;
        font-weight: 600;
        color: #0ef;
    }
    .third-line{
        font-size: 1.5rem;
        font-weight: 600;
    }
    
}
/* 400px */
@media screen and (max-width: 400px) {
    .project-btn{
        font-size: 1.4rem;
        letter-spacing: .1rem;
        font-weight: 500;
        position: relative;
        left: 1rem;
        top: 6rem;    
    }
    .first-line{
        font-size: 2rem;
        font-weight: 600;
    }
    .second-line{
        font-size: 3rem;
        font-weight: 900;
    }
    span{
        font-size: 2rem;
        font-weight: 600;
        color: #0ef;
    }
    .third-line{
        font-size: 1rem;
        font-weight: 600;
    }
    
    
}