@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif; 
    color: #fff;
  }
:root{
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}
.container{
    color: var(--text-color);
    background-color: #1f242d;
}
h1{
    display: flex;
    text-align: center;
    color: var(--main-color);
}
.projects{
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 10px;
}
.project {
    width: 100vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    width: 300px;
    border: 1px solid black;
}
.project-img{
    width: 100%;
}
p{
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}
.links{
    display: flex;
    width: 10%;
}
.links img{
    width: 3rem;
}
